.container{
   
    font-size: 2rem;
    font-weight: 600;
}
.container-fluid ul li a{
    font-weight: 550;
    font-size: 1.4rem;
    
    

}
#sk ul li a{
    color: rgb(237, 240, 232);
    margin-left: 2.5rem;
    
    
}
#ocl{
    text-align: center;
    background-color: greenyellow;
    
}
#AboutUs{
    text-align: center;
}
#Courses {
    
    margin-top: 3rem;
    padding: 5px;
    
}

/* #Courses, .col-lg-4{
    gap: 5px;
} */
/* .col-4 {
    border: 2px solid black;
} */

.dcaContent{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.frontendev{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.Backendev{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.Appdev{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
#corheading{
    text-align: center;
    
}
.machine{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.Ai{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
#moreCourse{
    text-align: center;
    align-items: center;
}
#contact{
    text-align: center;
    align-items: center;
}
#bottom, #botcont{
    text-align: center;
    align-items: center;
    background-color: rgb(37, 29, 29);
    color: azure;
    font-size: 1.5rem;

}
#botcont  i{
    font-size: 2rem;
}
#contact{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}